= form_for [current_user, Listing.new] do |f|
    - label_class = 'col-sm-2'
    - value_class = 'col-sm-4'
    - half_value_class = 'col-sm-2'
    .form-group.row.mx-0
        = f.label :name, class:"#{label_class}"
        = f.text_field :name, class:"#{value_class} form-control", placeholder: 'Name of your property'
    .form-group.row.mx-0
        = f.label :location, class:label_class, for: "location_id"
        %select.form-control{name:'listing[location_id]', id:"location_id", class: - value_class}
            - @locations.each do |loc|
                %option{value: loc.id}
                    = "#{loc.state} | #{loc.city}"
    .form-group.row.mx-0
        = f.label :person_count, class:label_class, for: 'person_count'
        %select.form-control{name:'listing[person_count]', id:"person_count", class: - value_class}
            - (1..12).each do |i|
                %option{value: i}
                    = "#{i} person"
    .form-group.row.mx-0
        = f.label :base_price, class:label_class
        = f.text_field :base_price, class:"#{value_class} form-control", placeholder: 'Base price per night'
    -# smoke here
    .form-group.row.mx-0
        = f.label :smoke, class: label_class
        %select.form-control{name:"listing[smoke]", class: - value_class}
            %option{value: "Y"}
                Y
            %option{value: "N"}
                N
    -# pet here
    .form-group.row.mx-0
        = f.label :pet, class: label_class
        %select.form-control{name:"listing[pet]", class: - value_class}
            %option{value: "Y"}
                Y
            %option{value: "N"}
                N
    .form-group.row.mx-0
        = f.label :images, class: label_class
        = f.file_field :images, multiple: true
    .form-group.row
        .col-sm-2
        .col-sm-2
            %button.btn.btn-primary.w-100.mb-md-0.mb-2{type: 'submit'} Submit
        .col-sm-2
            %a.btn.btn-secondary.w-100{href: user_listings_path(current_user), role: 'button'} Cancel

