#carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
        -# todo insert the image count here
        %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
    .carousel-inner
        -# todo insert the image url here
        .carousel-item.active
            %img.d-block.w-100{:alt => "First slide", :src => "..."}/
    %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
        %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        %span.sr-only Previous
    %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}
        %span.carousel-control-next-icon{"aria-hidden" => "true"}
        %span.sr-only Next

%hr
.listing-info
    .row.listing-control
        .col-sm-8
            .row
                - if current_user.id == @listing.user_id or current_user.moderator?
                    .col-sm-2
                        = button_to 'Edit', edit_user_listing_path(current_user, @listing), method: :get,
                        form_class: 'form-inline',class: "btn btn-primary w-100", role: 'button'
                - if current_user.id == @listing.user_id
                    .col-sm-2
                        = button_to 'Remove', delete_user_listing_path(@listing), method: :delete,
                         form_class: 'form-inline', class: 'btn btn-danger w-100',
                         role:'button', data:{confirm:'Do you want to remove this listing?'}
    .row.listing-title
        .col-sm-8
            %h2
                = @listing.name
            %p.lead
                = "#{@listing.location.city}, #{@listing.location.state}, #{@listing.location.country}"
            %hr
    .row.listing-details
        .col-sm-8
            %h5
                The Space
            .row
                .col-sm-4
                    .row.mx-0
                        %span
                            = "Accomodates:"
                        %span.font-weight-bold
                            = @listing.person_count
                    .row.mx-0
                        %span
                            = "Rooms: "
                        %span.font-weight-bold
                            = @listing.room_count
            %hr.my-1
    .row.listing-details
        .col-sm-8
            %h5
                The Price
            .row
                .col-sm-4
                    .row.mx-0
                        %span
                            = "Base price:"
                        %span.font-weight-bold
                            = "RM #{@listing.base_price.to_i}"
            %hr.my-1
    .row.listing-details
        .col-sm-8
            %h5
                The Amenities
            .row
                .col-sm-4
                    .row{class: - "#{line_through_class(@listing.pet)} mx-0"}
                        = "Pet allowed"
                    .row{class: - "#{line_through_class(@listing.smoke)} mx-0"}
                        = "Smoking allowed"

