%h1
    = "Welcome Onboard #{@reservation.user.name} !"
%p
    = "You have successfully booked #{@reservation.listing.name}"
%p
    = "Check in: #{@reservation.check_in.strftime('%Y-%m-%d')}, 2.00PM"
%p
    = "Check in: #{@reservation.check_out.strftime('%Y-%m-%d')}, 12.00PM"
%br/
%p Thanks for joining and have a great day!

