.jumbotron
    %h1.display-3
        = "Hello, #{@user.name}"
    %p.lead
        - if @days_to_check_in
            = "Your next trip is #{@days_to_check_in} days from today! Get ready for the trip!"
        - else
            = "You don't have any reservation. Plan for your next travel now!"
    %hr.my-4.jumbotron-seperator
    %p.lead
        - if @days_to_guest_check_in
            = "You have guest check in in #{@days_to_guest_check_in} from today!"
        - else
            = "You don't have any reservation coming forward."
    = button_to 'Edit profile', edit_user_path(current_user.id), method: :get, class: "btn btn-primary", role: "button"
