%nav#header-navbar.navbar.navbar-expand-md.navbar-light
    %a.navbar-brand{:href => root_path} Pairbnb
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
        %ul.navbar-nav.mr-md-auto
            %li.nav-item.active
                %a.nav-link{:href => root_path}
                    Home
                    %span.sr-only (current)
            - if current_user.nil?
                %li.nav-item
                    %a.nav-link{href:'#signin-modal', 'data-toggle'=>"modal", 'data-target'=>'#signin-modal'} Sign In
                %li.nav-item
                    %a.nav-link{href:'#signup-modal', 'data-toggle'=>'modal', 'data-target'=>'#signup-modal'} Sign Up
            %li.nav-item
                %a.nav-link{href:'#'} About Us
        %ul.navbar-nav
            - if current_user
                %li#user-avatar.nav-item
                    %img.rounded-circle{src: current_user.avatar}
                %li.dropdown.nav-item
                    %a.dropdown-toggle.nav-link{href: '#', "data-toggle":"dropdown"}
                        = current_user.name
                    .dropdown-menu
                        = link_to 'Profile', user_path(current_user), class: 'dropdown-item'
                        .dropdown-divider
                        = link_to 'Listings', user_listings_path(current_user), class: 'dropdown-item'
                        = link_to 'Resevations', reservations_path, class: 'dropdown-item'
                -#%li#user-link.nav-item
                -#    = link_to current_user.name, user_path(current_user), class:'nav-link'
                %li.nav-item
                    = link_to 'Sign out', sign_out_path, method: :delete, class:'nav-link'