%html
    %head
        %title Pairbnb
        %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
        = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
        = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
        = javascript_include_tag 'application', 'data-turbolinks-track' => true
        = csrf_meta_tags
        %link{href:'https://fonts.googleapis.com/css?family=Open+Sans', rel:'stylesheet', type:'text/css'}

    %body
        = render partial: 'layouts/navbar'
        %div.container
            = yield

        %div.pusher
        = render 'utility/login_alert_modal'

        %div.footer{id:'footer'}
            %ul
                %li About Us
                %li Privacy
                %li Terms
                %li Contact Us
                %li Signup for newsletter